<div class="adpost">
  <div class="row">
    <div class="col-lg-6">
      <h1><%= @adpost.title %></h1>
      <h2><%= @adpost.price  %>$</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <% if @adpost.image === true %>
        <%= image_tag @adpost.image  %>
      <% end %>
      <p><%= @adpost.description  %></p>
      <p><%= @adpost.user.user_name  %></p>
      <p id="address"><%= @adpost.address %></p>
    </div>
    <div class="col-lg-3" id="mapid" data-role="main" class="ui-content"></div>
  </div>
</div>
