<h1><%= @adpost.title %></h1>
<div class="adpost">
  <p><%= @adpost.description  %></p>
  <h2><%= @adpost.price  %>$</h2>
  <%= image_tag @adpost.image  %>
  <p><%= @adpost.user.user_name  %></p>
  <p id="address"><%= @adpost.address %></p>

</div>
<div id="mapid"></div>
